@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --foreground : #E4ECFF
}

@layer base{
  *{
    color: var(--foreground);
  }
}

@layer utilities {

  .section-padding{
    @apply lg:px-24 px-4
  }

  .bg-caro{
    background-size: 100px 100px;
    background-image: 
      linear-gradient(to right , rgba(255,255,255,0.05) 1px , transparent 1px),
      linear-gradient(to bottom , rgba(255,255,255,0.05) 1px , transparent 1px);
    background-repeat: repeat;
    mask-image: linear-gradient(to bottom, rgb(255, 255, 255 , 1) 90%,rgba(255, 255, 255, 0) );
  }  
  
}